$primary: #3859fb;
$secondary: #ebeefe;
$aliceblue: #f3f7ff;
$black: #000;
$charcoal: #333;
$matterhorn: #555;
$gray: #bcbcbc;
$gainsboro: #dfdfdf;
$silver: #c3c3c3;
$concrete: #f3f3f3;
$white: #fff;

$radius-primary: 6px;
$radius-narrow: 4px;
