@import "styles/variables";

.textField {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  background: $white;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

.inputWrapper {
  display: inline-flex;
  gap: 6px;
  border: 1px solid $gray;
  border-radius: $radius-narrow;
  padding: 6px;
}

.input {
  border: none;
  outline: none;
  width: 100%;
}
